DATABASE_URL=
DIRECT_URL=
HARGA_FUN_RUN_GAZA_PANJANG=125000
HARGA_FUN_RUN_GAZA_PENDEK=115000
HARGA_FUN_WALK_GAZA_PANJANG=125000
HARGA_FUN_WALK_GAZA_PENDEK=115000
HARGA_FUN_RUN_RAFAH=35000
HARGA_FUN_WALK_RAFAH=35000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
QR_SECRET_KEY=
ADMIN_JWT_SECRET=
JWT_SECRET=
RESEND_API_KEY=
EMAIL_FROM=Run For Liberation 2026 <noreply@runliberationsolo.com>
EMAIL_REPLY_TO=panitia@runliberationsolo.com
NEXT_PUBLIC_BASE_URL=https://runliberationsolo.com
TARGET_DONASI=100000000

ADMIN_EMAIL_SEED=ardiyanto.ardhiy@gmail.com
ADMIN_PASSWORD_SEED=A24R04D20I02a